* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inika", serif;
}

.projects {
  background-color: #edf2ec;
  padding: 40px 0 80px 0;
  @media (max-width: 767px) {
    padding: 40px 0;
  }
}

.container {
  max-width: 1222px;
  margin: auto;

  @media (max-width: 1260px) {
    max-width: 95%;
  }
}

.project .container {
  @media (max-width: 895px) {
    width: 668px;
  }
  @media (max-width: 767px) {
    width: 304px;
  }
}

@media (max-width: 895px) {
  .projects {
    padding: 60px 50px;
  }
}

.introduction {
  display: flex;
  padding-bottom: 90px;
  gap: 145px;
  align-items: center;
  @media (max-width: 1100px) {
    gap: 70px;
  }
  @media (max-width: 1000px) {
    display: block;
  }
  
  @media (max-width: 767px) {
    padding-bottom: 40px;
  }
}

.serviceandprojects {
  width: 306px;
}

.service {
  color: #499a18;
  flex-grow: 1;
  font-family: "Inika", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52.12px;
  @media (max-width: 576px) {
    font-size: 25px;
  }
}

a {
  color: #e06733;
  text-decoration: none;
}

.industry {
  color: #e06733;
  text-align: center;
}

.gardening {
  max-width: 559px;
  margin-top: 29px;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  @media (max-width: 767px) {
    gap: 9px;
  }

  button {
    border: 1px solid #e06733;
    color: #e06733;
    border-radius: 8px;
    padding: 12px 40px;
    cursor: pointer;
    &:hover {
      background: #e067333b;
    }
  @media (max-width: 767px) {
    padding: 8px 28px;
  }
  }
}


.card {
  border: 1px solid #e3e1d5;
  border-radius: 48px;
  width: 330px;
  cursor: pointer;
  transition: 0.7s;
  font-family: "Inter", sans-serif;

  &:hover {
    background: #ffffffc9;
  }
  @media (max-width: 1439px) {
    width: 281px;
  }
  img{
    max-width: 100%;
  height: auto;
  }
}

.lorem {
  color: #717171;
  text-align: center;
  padding: 10px 39px 20px;
}

.process {
  display: flex;
  flex-wrap: wrap;
  gap: 55px;
  justify-content: space-between;
  @media (max-width: 1004px) {
    justify-content: flex-start;
  }
  @media (max-width: 895px) {
    justify-content: flex-start;
    gap: 50px;
  }
}


/* Footer styles */
.footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content span {
  margin: 5px 0;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-size: cover;
}

@media (min-width: 600px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .social-icons {
    margin-top: 0;
  }
}

///////////////////////////////////////////////////

.footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) {
    display: block;
    text-align: center;
  }
}

.footer-content span {
  margin: 5px 0;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  @media (max-width: 768px) {
    justify-content: center;
    margin-top: 10px;
  }
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-size: cover;
}

@media (min-width: 600px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .social-icons {
    margin-top: 0;
  }
}

///////////////////////////////////////////////////

.footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) {
    display: block;
    text-align: center;
  }
}

.footer-content span {
  margin: 5px 0;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  @media (max-width: 768px) {
    justify-content: center;
    margin-top: 10px;
  }
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-size: cover;
}

img {
  max-width: 100%;
}

header {
  font-family: "Roboto", sans-serif;
  font-family: "Inter", sans-serif;
  padding: 42px 0px;
  background: #edf2ec;

  ul {
    display: flex;
    gap: 42px;
    list-style-type: none;
    font-weight: 400;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  .mobile_menu {
    display: none;

    @media (max-width: 640px) {
      display: block;
    }

    &:hover + nav {
      display: block;
      position: absolute;
      top: 70px;
      right: 10px;
      padding-bottom: 20px;
      background: #e06733;
      border-radius: 10px;

      .li_1 {
        color: white;
      }

      li {
        padding: 20px 30px 0px 30px;
        color: lightgray;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
      }
    }
  }

  nav {
    @media (max-width: 640px) {
      display: none;

      ul {
        display: block;
      }
    }
  }

  .li_1 {
    color: #e06733;
    font-weight: 700;
  }

  .logo {
    text-decoration: none;
    color: black;
    font-weight: 400;
  }
}

.grow {
  font-family: "Inter", sans-serif;
  background: #edf2ec;
  padding: 62px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    font-family: "Inter", sans-serif;
    margin-bottom: 42px;
    color: #717171;
    font-weight: 700;
    font-size: 45px;
    line-height: 111%;
    max-width: 550px;
    @media (max-width: 576px) {
      font-size: 25px;
    }
  }

  p {
    font-size: 20px;
    line-height: 175%;
    font-family: "Inter", sans-serif;
    color: #636060;
    font-weight: 400;
    @media (max-width: 576px) {
      font-size: 16px;
    }
  }

  .slovo {
    color: #499A18;
    text-decoration: none;
  }

  button {
    cursor: pointer;
    border: 2px solid #e06733;
    border-radius: 10px;
    padding: 14px 27px;
    margin-top: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    color: #000;
    transition: 0.7s;
    &:hover {
      background: #e067333b;
    }
    @media (max-width: 576px) {
      font-size: 12px;
    }
  }

  .krytoi_class {
    max-width: 450px;

    @media (max-width: 860px) {
      order: 2;
    }

    @media (max-width: 640px) {
      display: none;
    }
  }
}

.negrow {
  max-width: 550px;

  @media (max-width: 860px) {
    order: 1;
  }
}

.pot {
  font-family: "Inter", sans-serif;
  padding: 50px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 860px) {
      display: block;
      text-align: center;
    }
  }

  .nepot {
    max-width: 605px;

    @media (max-width: 860px) {
      margin: auto;
    }

    h3 {
      max-width: 463px;
      color: #499a18;
      font-weight: 400;
      margin: 0 0 40px;
      font-size: 40px;
      font-family: "Inika", serif;
      @media (max-width: 680px) {
        margin: 0 auto 40px;
      }
      @media (max-width: 576px) {
        font-size: 25px;
        max-width: 300px;
      }
    }

    p {
      font-size: 20px;
      line-height: 150%;
      color: #636060;

      @media (max-width: 860px) {
        text-align: left;
      }
      @media (max-width: 576px) {
        font-size: 16px;
      }
    }

    span {
      color: #e06733;
    }
  }

  .house_plant {
    @media (max-width: 860px) {
      margin: auto;
    }

    .container {
      display: flex;
      justify-content: space-between;
    }

    max-width: 465px;
  }
}

.prices {
  padding: 38px;
}
.prices .container {
  display: flex;
  justify-content: space-between;
  @media (max-width: 660px) {
    display: block;
  }
}
.prices .points {
  border: 1px solid #e3e1d5;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 41px;
  padding-right: 41px;
  margin-top: 60px;
  background-color: white;
  align-items: center;
}
.prices .points button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: #edf2ec;
  padding: 16px 40px;
  font-family: Inter;
  font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
  text-align: left;
  width: 250px;
  cursor: pointer;
  transition: 0.7s;
  &:hover {
    background: #c8e7c2;
  }
}
.prices .paragraph {
  padding: 10px;
  margin-bottom: 10px;
}
.prices .left h2 {
  font-size: 40px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  @media (max-width: 576px) {
    font-size: 25px;
  }
}
.prices .right {
  text-align: right;
  @media (max-width: 660px) {
    text-align: center;
  }
}
.prices .right .text {
  max-width: 452px;
  font-size: 40px;
  @media (max-width: 660px) {
    text-align: center;
    margin: 30px auto 0;
      @media (max-width: 576px) {
    font-size: 25px;
  }
  }
}
.prices .right a {
  text-decoration: none;
  color: #499a18;
}
.prices .right .contact {
  border: 1px solid #e06733;
  font-family: Inika;
  background-color: white;
  color: #e06733;
  border-radius: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 34px;
  margin-top: 38px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.7s;
  &:hover {
    background: #e067333b;
  }
}
.prices .right img {
  margin-top: 39px;
}

.contacts {
  background-color: #edf2ec;
  padding-top: 60px;
  padding-bottom: 352px;
  background-image: url(../images/contact_woman1.png);
  background-repeat: no-repeat;
  background-position: 10% bottom;
  background-size: contain;

  .container {
    text-align: right;

    @media (max-width: 860px) {
      text-align: center;
    }
  }
  @media (max-width: 860px) {
    background-size: 200px;
    background-position: center;
    background-position: bottom;
  }

  @media (max-width: 576px) {
    padding-bottom: 300px;
  }

  button {
    width: 450px;
    background-color: #d6e7d2;
    color: #717171;
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #d6e7d2;
    border: none;
    padding-right: 23px;
    padding-left: 20px;
    margin-top: 37px;
  
    @media (max-width: 576px) {
      width: 300px;
      margin-top: 40px;
    }
  }
}



.contacts h2 {
  color: #499a18;
  font-size: 40px;
  font-family: Inika;
  font-weight: 700;
  text-align: center;
  @media (max-width: 576px) {
    font-size: 25px;
  }
}
